<section id="ad" class="bg-neutral p-5">
    <div class="grid grid-cols-1 md:grid-cols-2 justify-center text-neutral-50">
        <div>
            <h3
                class="text-2xl md:text-3xl font-medium tracking-tight mt-4 max-w-xl"
            >
                ¿Necesitas un sitio web de <br /> calidad?
            </h3>
        </div>
        <div>
            <p class="text-sm md:text-base mt-2 max-w-xl">
                En Vortek ofrecemos soluciones web de alta calidad para tu
                negocio.
            </p>
            <a
                href="https://vortekags-com.vercel.app"
                target="_blank"
                rel="noopener noreferrer"
                class="mt-4 btn btn-primary shadow-none rounded-none"
            >
                Contactanos Ahora
            </a>
        </div>
    </div>
</section>
